section.about
	.about__container
		.about__img
			img(src="./img/About/about-img.jpg", alt="")
		.about__content
			h2.about__title.page-title Cozy and Down to&nbsp;Earth Cootage Hotel in&nbsp;Norway.
			.about__text
				p Our Cootage Hotel is&nbsp;an&nbsp;intimate hideway concieved for dicerning travelers. It&nbsp;faces directly the unique and spectacular panorama of the Hallerbos Jungle.
				p Cootels extends along a&nbsp;private, quiet, and beautiful nature. Stay away from crowd and enjoy the cozy and beauty with&nbsp;us.
			a.about__link.page-link(href="#") Learn More