section.benefit
	.container 
		.benefit__inner 
			.benefit__row
				.benefit__content 
					h2.section__title Cabin Activities
					.benefit__text Don&rsquo;t worry to&nbsp;get bored easily in&nbsp;our cabin. We&nbsp;have so&nbsp;many cabin activities for you to&nbsp;do&nbsp;it&nbsp;alone or&nbsp;with group. Maybe this is&nbsp;the best chance for you to&nbsp;make new friends or&nbsp;even a&nbsp;lover.
				.benefit__img._ibg
					img(src="./img/Benefit/benefit-img-1.jpg", alt="")
			.benefit__row
				.benefit__img._ibg
					img(src="./img/Benefit/benefit-img-2.jpg", alt="")
				.benefit__content 
					h2.section__title 100% Organic Food
					.benefit__text We&nbsp;served 100% organic, low process and delicious food. We&nbsp;allow our guest to&nbsp;have breakfast or&nbsp;dinner request.What ever made your taste buds happy.