footer.footer(style="background-color: #0B265A")
	.container
		.footer__inner
			.footer__column
				a.footer__logo(href="#") 
					svg.footer__logo-icon
							use(xlink:href="#footer__logo")
				.footer__text 
					p Your Best Private Hideway From Crowd. Back to Nature.
				.footer__social 
					a.social__item(href="#" target="_blank")
						svg.social__icon
							use(xlink:href="#twitter")
					a.social__item(href="#" target="_blank")
						svg.social__icon
							use(xlink:href="#instagram")
					a.social__item(href="#" target="_blank")
						svg.social__icon
							use(xlink:href="#facebook")
			ul.footer__list 
				li.footer__item 
					a.footer__link(href="") Rooms
					span.footer__list_arrow.arrow
					ul.footer__sublist
						li.footer__item 
							a.footer__link(href="") Single Room
						li.footer__item 
							a.footer__link(href="") Double Room
						li.footer__item 
							a.footer__link(href="") Cabin
						li.footer__item 
							a.footer__link(href="") Custom Room
			ul.footer__list 
				li.footer__item 
					a.footer__link(href="") Reservation
					span.footer__list_arrow.arrow
					ul.footer__sublist
						li.footer__item 
							a.footer__link(href="") See the Steps
						li.footer__item 
							a.footer__link(href="") Best Time
			ul.footer__list 
				li.footer__item 
					a.footer__link(href="") Contact
					span.footer__list_arrow
					ul.footer__sublist
						li.footer__item 
							a.footer__link(href="") Our Number
						li.footer__item 
							a.footer__link(href="") Our Email
						li.footer__item 
							a.footer__link(href="") Our Location