footer.footer(style="background-color: #0B265A")
	.footer__container
		.footer__column
			a.footer__logo.logo(href="#") 
				svg.logo__icon
						use(xlink:href="#logo")
			.footer__text 
				p Your Best Private Hideway From Crowd. Back to Nature.
			.footer__social.social
				a.social__item(href="#" target="_blank")
					svg.social__icon
						use(xlink:href="#twitter")
				a.social__item(href="#" target="_blank")
					svg.social__icon
						use(xlink:href="#instagram")
				a.social__item(href="#" target="_blank")
					svg.social__icon
						use(xlink:href="#facebook")
		.footer__wrapper-list
			h4.footer__title Rooms
			ul.footer__list 
				li.footer__item 
					a.footer__link(href="") Single Room
				li.footer__item 
					a.footer__link(href="") Double Room
				li.footer__item 
					a.footer__link(href="") Cabin
				li.footer__item 
					a.footer__link(href="") Custom Room
		.footer__wrapper-list
			h4.footer__title Reservation
			ul.footer__list 
				li.footer__item 
					a.footer__link(href="") See the Steps
				li.footer__item 
					a.footer__link(href="") Best Time
		.footer__wrapper-list
			h4.footer__title Contact
			ul.footer__list 
				li.footer__item 
					a.footer__link(href="") Our Number
				li.footer__item 
					a.footer__link(href="") Our Email
				li.footer__item 
					a.footer__link(href="") Our Location