header.header#header
	.container
		.header__inner
			a.header__logo(href="#")
				svg.header__logo_icon
					use(xlink:href="#header__logo")
			.header__menu
				.header__menu_icon 
					span 
				nav.menu
					ul.menu__list
						li.menu__item 
							a.menu__link(href="#") Rooms
						li.menu__item 
							a.menu__link(href="#") Reservation
						li.menu__item 
							a.menu__link(href="#") Contacs
			a.header__btn.btn(href="#") Get Started
