section.intro
	.intro__container 
		.intro__content
			h1.intro__title Nature, Warmth, and Beauty in&nbsp;One Space
			p.intro__text One place to&nbsp;release all the stress, bring back happines, and get back to&nbsp;nature. We&nbsp;provide the best room and nature for you. Come visit&nbsp;us anytime you want.
			a.intro__link.page-link(href="") Reservation 
		.intro__img
			img(src="./img/Intro/intro-img.png", alt="")