section.reservation
	.container 
		.reservation__top 
			h2.section__title Many Rooms to&nbsp;Choose
			.reservation__text 
				p There is&nbsp;a&nbsp;room for every needs. We&nbsp;have room for individuals until family size, we&nbsp;also have a&nbsp;cabin for more private experience
			a.reservation__btn.btn(href="#", target="_blank") Explore more
		.reservation__inner 
			.reservation__column
				article.reservation__item.item-reservation
					.item-reservation__img._ibg
						img(src="./img/Reservation/reservation-img-1.jpg", alt="" style="background-color: #0B265A")
					.item-reservation__content 
						h3.item-reservation__title Single Room
						.item-reservation__text 
							p Best for a&nbsp;brave lone wolf who need comfort and quiet quality time, but you still have a&nbsp;chance to&nbsp;meet others.
						a.item-reservation__link(href="#", target="_blank" style="background-image: url(./img/Reservation/arrow.svg)") Learn more
			.reservation__column
				article.reservation__item.item-reservation
					.item-reservation__img._ibg
						img(src="./img/Reservation/reservation-img-2.jpg", alt="")
					.item-reservation__content 
						h3.item-reservation__title Double Room
						.item-reservation__text 
							p Best for couple, seek happiness in&nbsp;intimacy without worry of&nbsp;being disturbed. Feel the whole world just for you two
						a.item-reservation__link(href="#", target="_blank" style="background-image: url(./img/Reservation/arrow.svg)") Learn more
			.reservation__column
				article.reservation__item.item-reservation
					.item-reservation__img._ibg
						img(src="./img/Reservation/reservation-img-3.jpg", alt="")
					.item-reservation__content 
						h3.item-reservation__title Cootage
						.item-reservation__text 
							p Best for family or&nbsp;group. One cootage can fit up&nbsp;to&nbsp;5&nbsp;people. Made stronger bond with your family or&nbsp;friends
						a.item-reservation__link(href="#", target="_blank" style="background-image: url(./img/Reservation/arrow.svg)") Learn more