section.room
	.room__container
		.room__content
			p.room__suptitle Start your journey!
			h2.room__title.page-title How to&nbsp;Get My&nbsp;Room?
			.room__text 
				p You can contact&nbsp;us by&nbsp;phone or&nbsp;email&nbsp;us. Easily tap the contact button below and it will take you to&nbsp;our contact point
			.room__buttons 
				a.room__link.page-link(href="#") Contact us
				a.room__link-more(href="#" target="_blank") Explore more room
		.room__spoiler.spoiler-room
			.spoiler-room__item
				button.spoiler-room__control
					h4.spoiler-room__title 1. Choose a&nbsp;room and date
					span.spoiler-room__icon
				.spoiler-room__content
					p Contact&nbsp;us via phone or&nbsp;email, ask for availability of&nbsp;you choice of&nbsp;room. We&nbsp;might offer you something exciting.
			.spoiler-room__item
				button.spoiler-room__control
					h4.spoiler-room__title 2. Check for room availability
					span.spoiler-room__icon
				.spoiler-room__content
					p Contact&nbsp;us via phone or&nbsp;email, ask for availability of&nbsp;you choice of&nbsp;room. We&nbsp;might offer you something exciting.
			.spoiler-room__item
				button.spoiler-room__control
					h4.spoiler-room__title 3. Enjoy your room
					span.spoiler-room__icon
				.spoiler-room__content
					p Contact&nbsp;us via phone or&nbsp;email, ask for availability of&nbsp;you choice of&nbsp;room. We&nbsp;might offer you something exciting.