section.room
	.container 
		.room__inner 
			.room__column
				p.room__suptitle Start your journey!
				h2.section__title How to&nbsp;Get My&nbsp;Room?
				.room__text 
					p You can contact&nbsp;us by&nbsp;phone or&nbsp;email&nbsp;us. Easily tap the contact button below and it&nbsp;will take you to&nbsp;our contact point
				.room__buttons 
					a.room__btn.btn(href="#") Contact us
					a.room__link(href="#" target="_blank") Explore more room
			.room__column
				ul.accordion__list.accordion
					li.accordion__item
						button.accordion__control
							h4.accordion__title 1. Choose a&nbsp;room and date
							span.accordion__icon
						.accordion__content
							p Contact&nbsp;us via phone or&nbsp;email, ask for availability of&nbsp;you choice of&nbsp;room. We&nbsp;might offer you something exciting.
					li.accordion__item
						button.accordion__control
							h4.accordion__title 2. Check for room availability
							span.accordion__icon
						.accordion__content
							p Contact&nbsp;us via phone or&nbsp;email, ask for availability of&nbsp;you choice of&nbsp;room. We&nbsp;might offer you something exciting.
					li.accordion__item
						button.accordion__control
							h4.accordion__title 3. Enjoy your room
							span.accordion__icon
						.accordion__content
							p Contact&nbsp;us via phone or&nbsp;email, ask for availability of&nbsp;you choice of&nbsp;room. We&nbsp;might offer you something exciting.