section.testimonials
	.testimonials__container 
		.testimonials__slider.slider-testimonials
			.slider-testimonials__body
				.slider-testimonials__track
					.slider-testimonials__item.active
						h2.page-title.slider-testimonials__title Hear From Our Happy Customers
						img.slider-testimonials__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
						.slider-testimonials__text 
							p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
						p.slider-testimonials__author Kirana Dunham
					.slider-testimonials__item
						h2.page-title.slider-testimonials__title Hear From Our Happy Customers
						img.slider-testimonials__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
						.slider-testimonials__text 
							p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
						p.slider-testimonials__author Kirana Dunham
					.slider-testimonials__item
						h2.page-title.slider-testimonials__title Hear From Our Happy Customers
						img.slider-testimonials__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
						.slider-testimonials__text 
							p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
						p.slider-testimonials__author Kirana Dunham
					.slider-testimonials__item
						h2.page-title.slider-testimonials__title Hear From Our Happy Customers
						img.slider-testimonials__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
						.slider-testimonials__text 
							p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
						p.slider-testimonials__author Kirana Dunham
			.slider-testimonials__dots.pagination
				.pagination__item.active
				.pagination__item 
				.pagination__item
				.pagination__item
			.slider-testimonials__control.control
				button.control__btn.control__btn_prev Prev
				button.control__btn.control__btn_next Next