section.testimonials
	.container 
		.testimonials__inner 
			.testimonials__slider.slider
				.slider__container
					.slider__track
						.slider__item.active
							h2.section__title.slider__title Hear From Our Happy Customers
							img.slider__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
							.slider__text 
								p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
							p.slider__author Kirana Dunham
						.slider__item
							h2.section__title.slider__title Hear From Our Happy Customers
							img.slider__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
							.slider__text 
								p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
							p.slider__author Kirana Dunham
						.slider__item
							h2.section__title.slider__title Hear From Our Happy Customers
							img.slider__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
							.slider__text 
								p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
							p.slider__author Kirana Dunham
						.slider__item
							h2.section__title.slider__title Hear From Our Happy Customers
							img.slider__img(src="./img/Testimonials/testimonials-img-1.jpg", alt="Author")
							.slider__text 
								p &laquo;Great service, great food, great people. The scenery is&nbsp;also beautiful, you can do&nbsp;so&nbsp;much activity even with your famility. Worth every penny! you should come and see for your self.&nbsp;5&nbsp;out of&nbsp;5! the waffle is&nbsp;great!&raquo;
							p.slider__author Kirana Dunham
				.dots 
					.dot.active
					.dot 
					.dot
					.dot
				.slider__buttons 
					button.btn__prev Prev
					button.btn__next Next