.about {
	margin: 0 0 rem(160) 0;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("desktop", max) {
			gap: rem(20);
		}

		@include mq("tablet-small", max) {
			flex-direction: column;
		}

		@include mq("phablet", max) {
			gap: rem(125);
		}
	}

	&__img {
		& img {}
	}

	&__content {
		@include mq("tablet-small") {
			flex: 0 1 rem(690);
		}
	}

	&__title {
		margin: 0 0 rem(24) 0;
	}

	&__text {
		width: 85%;
		font-size: rem(18);

		&:not(:last-child) {
			margin: 0 0 rem(30) 0;
		}

		&>*:not(:last-child) {
			margin: 0 0 rem(16) 0;
		}
	}

	&__link {}
}