.benefit {
	margin: 0 0 rem(150) 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("desktop", max) {
			gap: rem(30);
		}

		@include mq("phablet", max) {
			flex-direction: column;
		}

		&+& {
			margin: rem(30) 0 0 0;
		}
	}

	&__content {
		@include mq("phablet") {
			flex: 0 1 rem(585);
		}
	}

	&__title {
		margin: 0 0 rem(25) 0;
	}

	&__text {
		font-size: rem(18);
	}

	&__img {
		& img {}
	}
}