.intro {
	margin: 0 0 rem(150) 0;
	display: flex;
	justify-content: center;
	align-items: center;

	@include mq("desktop-wide") {
		padding: rem(125) 0 rem(100) 0;
	}

	@include mq("tablet", range, "desktop-wide") {
		padding: rem(100) 0 rem(75) 0;
	}

	@include mq("tablet", max) {
		padding: rem(100) 0 rem(50) 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("tablet-small", max) {
			flex-direction: column-reverse;
		}

		@include mq("phablet") {
			gap: rem(80);
		}

	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: start;

		@include mq("tablet-small") {
			flex: 0 1 rem(512);
		}

		@include mq("tablet-small", max) {
			width: 100%;
		}
	}

	&__img {
		& img {}
	}

	&__title {
		margin: 0 0 rem(25) 0;
		font-family: 'Montserrat';
		@include font-source-sans(rem(48), 1.5, 600, var(--semi_color));
		letter-spacing: -0.01em;

		@include mq("phone-wide", max) {
			font-size: rem(36);
		}
	}

	&__text {
		margin: 0 0 rem(30) 0;
		font-size: rem(18);
		color: var(--main_color);
	}

	&__link {}
}