.room {
	margin: 0 0 rem(160) 0;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mq("tablet", max) {
			gap: rem(30);
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 rem(407);

		@include mq("tablet", max) {
			flex: 1 1 100%;
		}

		&+& {
			@include mq("tablet-small", max) {
				margin: rem(50) 0 0 0;
			}
		}
	}

	&__suptitle {
		margin: 0 0 rem(12) 0;
		@include font-source-sans(rem(16), 1.5, 500, var(--text));
	}

	&__title {
		margin: 0 0 rem(25) 0;
	}

	&__text {
		width: 87%;
		margin: 0 0 rem(30) 0;
		font-size: rem(18);

		@include mq("tablet-small", max) {
			width: 100%;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: rem(25);
	}

	&__link-more {
		color: var(--bg_btn);
		text-decoration: underline;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__spoiler {
		@include mq("tablet") {
			flex: 0 1 rem(588);
		}
	}
}

.spoiler-room {
	filter: drop-shadow(0px 4px 30px rgba(255, 98, 10, 0.3));
	// box-shadow: 0px 4px 30px rgba(255, 98, 10, 0.07);

	&__item {
		padding: rem(35) rem(35) rem(35) rem(44);
		background: var(--bg_color);
		border-radius: 4px;

		&.open .spoiler-room__content {
			margin: rem(15) 0 0 0;
			opacity: 1;
		}

		&.open .spoiler-room__icon {
			background-color: #FF620A;

			&:before {
				transform: translate(50%, -50%) rotate(-40deg);
				background-color: #FFECE2;
			}

			&:after {
				transform: translate(50%, -50%) rotate(40deg);
				background-color: #FFECE2;
			}
		}

		&+& {
			margin: rem(25) 0 0 0;
		}
	}

	&__control {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
		cursor: pointer;

		&.open+.spoiler-room__content {
			opacity: 1;
			padding: rem(25) 0 0 0;
		}
	}

	&__title {
		font-family: 'Montserrat';
		@include font-source-sans(rem(24), 1.5, 600, var(--text));
		position: relative;
	}

	&__icon {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: #FFECE2;

		&:before,
		&:after {
			content: '';
			width: 15px;
			height: 3px;
			border-radius: 10px;
			background-color: #FF620A;
			position: absolute;
			top: 50%;
			transition: all 0.3s ease 0s;

			&.active {
				background-color: var(--white);
			}
		}

		&:before {
			transform: translate(50%, -50%) rotate(40deg);
			right: 37%;

			&.active {
				transform: rotate(-40deg);
			}
		}

		&:after {
			transform: translate(50%, -50%) rotate(-40deg);
			right: 63%;

			&.active {
				transform: rotate(40deg);
			}
		}
	}

	&__content {
		padding: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		font-size: rem(18);
		will-change: max-height;
		transition: all 0.3s ease-out;
		// box-sizing: content-box;
	}
}