doctype html
html(lang="en")
	head
	@@include('html/head.pug', {
		"title": "Cootels"
	})
	body
		include html/sprite
		.wrapper
			include html/header
			main.page 
				include html/intro
				include html/about
				include html/benefit
				include html/reservation
				include html/room
				include html/testimonials
			include html/footer
		button.toggle__theme
		button.scroll_up
		script(src="js/app.min.js")
		
		//- Натянуть на wordPress
		//- Разобраться с иконками, переписать их в спрайт(иконка темной и светлой темы, стрелка наверх)
		