doctype html
html(lang="en")
	head
	include html/head
	body
		.wrapper
			include html/header
			main.page 
				include html/sprite
				include html/intro
				include html/about
				include html/benefit
				include html/reservation
				include html/room
				include html/testimonials
			include html/footer
		button.toggle__theme
		button.scroll_up
		script(src="js/app.min.js")
		//- Доделать хвосты
		//- Залить на хостинг
		//- Натянуть на wordPress
		//- Доделать JS код  - complete
		//- Поменять переменные - complete
		//- Перевести единицы в относительные  - complete
		//- Почистить код, убрать лишние комментарии, выводы в консоль  - complete
		//- Разобраться с отступами между секциями - complete
		//- Добавить темную тему!!!!!!!!!!!!!!!!!!!!!!!! - complete
		//- Сделать адаптив - complete
		//- Добавить ховер на кнопки при наведении - complete
		//- Исправить цвет у кнопок - complete
		//- Доделать слайдер - complete
		//- Доделать аккордеон - complete
		//- Что-то решить с картинкой на интро - complete
		//- Добавить кнопку наверх - complete

		//- Вообщем, задавать отступы относительно контейнера логичней всего!