@use "sass:math";
@use "sass:map";

@import "vars";
/*--------------------*/
/*** Mixins ***/
@import "mixins";
/*--------------------*/
/*** Null ***/
@import "null";
/*--------------------*/
/*** Fonts ***/
@import "fonts";
@import "fonts/icons";

/*--------------------*/

body {
	font-family: $font-primary;
	@include font-source-sans(rem($fontSize), 1.5, 400, var(--main_color));
	background-color: var(--bg_color);
	font-style: normal;
	text-align: left;
	position: relative;

	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	>main {
		flex: 1 1 auto;
	}
}

/*** Container ***/
[class*="__container"] {
	width: 100%;
	max-width: rem(1230);
	margin: auto;
	padding: 0 rem(15);
}

.page {
	&-title {
		font-family: 'Montserrat';
		@include font-source-sans(rem(36), 1.5, 600, var(--semi_color));
		letter-spacing: -0.01em;

		@include mq("tablet-wide", max) {
			font-size: rem(30);
		}
	}

	&-link {
		padding: rem(16) rem(32);
		border-radius: rem(4);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: var(--bg_btn);
		font-family: 'Inter';
		@include font-source-sans(rem(16), 1.1875, 500, var(--white));
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				background-color: #1d306d;
				color: var(--white);
			}
		}

		&:disabled {
			opacity: 0.4;
			pointer-events: none;
		}
	}
}

.toggle__theme {
	position: fixed;
	bottom: 5%;
	left: 2.5%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	background-image: url('../img/light.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	filter: invert(1);

	&.active {
		background-image: url('../img/dark.svg');
		filter: invert(0);
	}

	@include mq("tablet-small", max) {
		width: 50px;
		height: 50px;
		right: 3%;
		left: auto;
		bottom: 1%;
	}
}

.scroll_up {
	display: none;
	position: fixed;
	left: 2.5%;
	bottom: 12%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FAB047;
	background-image: url('../img/up_arrow_icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;

	&.active {
		display: block;
	}

	@include mq("tablet-small", max) {
		width: 50px;
		height: 50px;
		bottom: 1%;
		left: 50%;
		transform: translateX(-50%);
	}
}

@import "components/header";
@import "components/intro";
@import "components/about";
@import "components/benefit";
@import "components/reservation";
@import "components/room";
@import "components/testimonials";
@import "components/footer";